{% extends "coulisses/layouts/base.html" %}

{% block body_class %}login_page{% endblock %}

{% block content %}

    <div class="login-wrap">
        {% if form.errors %}
            <p>Je n'ai pas réussi à vous connecter :(</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Connectez-vous aux coulisses de Galactée !</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <button type="submit">Connexion !</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <p><a href="{% url 'password_reset' %}">Vous avez perdu ou oublié votre mot de passe ?</a></p>

    </div>

{% endblock %}